%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { id: "signup_form"}) do |f|
  - if resource.errors.any?
    #error_explanation
      .alert.alert-info.fade.in
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :onclick => "$('error_explanation').hide();", :type => "button"} ×
        - resource.errors.full_messages.each do |msg|
          %p= msg
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, class: "form-control"
  .actions
    = f.submit "Sign up",class: "btn btn-default"
= render "devise/shared/links"
