<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { id: "signup_form"}) do |f| %>
  <%#= devise_error_messages! %>
  <% if resource.errors.any? %>
    <div id = "error_explanation" >
        <div class = "alert alert-info fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="$('error_explanation').hide();" > &times;</button>
             <% resource.errors.full_messages.each do |msg| %>
                <p><%= msg %></p>
             <%end%>
          </button>
        </div>
    </div>
  <%end%>

 <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up",class: "btn btn-default" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


