- if resource.errors.any?
  #error_explanation
    .alert.alert-info.fade.in
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :onclick => "$('error_explanation').hide();", :type => "button"} ×
      - resource.errors.full_messages.each do |msg|
        %p= msg
%h2 Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: "forget_form" }) do |f|
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, class: "form-control"
  .actions
    = f.submit "Send me reset password instructions", class: "btn btn-default"
= render "devise/shared/links"
