<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Photo</h4>
        </div>
        <div class="modal-body">
          <%= form_for :photo, url: images_path, method: :post, html:{:multipart => true, id: "photo_new_form"} do |f| %>
			  <div class="form-group">
			    <%= f.label :name, "Name"%>
			    <%= f.text_field :name, class: "form-control" %>
			  </div>
			  <div class="form-group">
			    <%= f.label :select_file, "Choose file" %>
			    <%= f.file_field :image_url, accept: "jpg,png,jpeg,gif", id: "image_upload" %>
			  </div>
        </div>
        <div class="modal-footer">
        	 <%= f.submit "Submit", class: "btn btn-primary photo_create" %>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>