<!-- <div class="form-group"> 
	<button type="button" class= "btn btn-default add_photo" data-toggle="modal" data-target="#myModal">Add Photo</button><br>
  <%#= render partial: "import_images"%>
</div> -->
<div class="row">
  <div class="col-6 col-md-4">
    <h4>Add Images</h4> <br>
    <button type="button" class= "btn btn-default add_photo" data-toggle="modal" data-target="#myModal">Add Photo</button>
  </div>
  <div class="col-6 col-md-4">
    <%= render partial: "import_images"%>
  </div>
  <div class="col-6 col-md-4">
    <h4 >Image Counter</h4>
    <div><h2>0</h2></div>
  </div>
</div>

<div class="row">
	<% @photos.each do |photo| %>
    <div class="col-sm-4">
    	<h3><%= photo.name %></h3>
  			<%= image_tag(photo.image_url, :size => "300x200")  if photo %> 
				<br>
  			<div class="actions" align="center">
  				<button type="button" class="btn btn-primary btn-sm photo_edit" id="<%= photo.id %>">Edit</button>
  				<%= link_to 'Destroy', image_path(photo.id),
        		data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-danger btn-sm" %>
  			</div>
    </div>
  	<%= render partial: "photo_edit_modal", locals: {photo: photo} %>
	<% end if @photos %>	
</div>
<div class="form-group pagination_div">
  <%= paginate @photos %>
</div>
<%= render partial: "photo_new_modal" %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#footer").removeClass("navbar-fixed-bottom")
  });
</script>